<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant.id) do %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/1000x200/?restaurant');">
      <div class="card-category"><%= restaurant.category %></div>
      <div class="card-description">
        <h2>
          <%= restaurant.name %>
        </h2>
        <p>
          <%= restaurant.address %>
        </p>
      </div>
    </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary"%>






